body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}


.project {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.project::before {
    content: "";
    display: block;
    padding-top: 100%; /* Maintain aspect ratio (1:1 for square) */
}

.project img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; /* Ensure the image covers the entire container */
}
